body {
    background-color: #fffbf7;
}

h1 {
    color: #025157;
    text-align: center;
    font-family: 'Alegreya', serif;
}

p {
    color: #8b8b8bcc;
    font-family: Verdana;
    font-size: 20px;
}

button {
    color: #fff;
    background-color: #025157;
}

li {
    display: inline;
    margin-left: 25px;
    margin-right: 25px;
}

.header {
    margin: 40px 20px 0;
    font-size: 0;
    font-family: sans-serif;
}

.header>* {
    display: inline-block;
    font-size: 16px;
    line-height: 45px;
    height: 100%;
    vertical-align: middle;
}

.fixed-header {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    background-color: #fffbf7;
}

.logo {
    width: 15%;
}

.logo>img {
    width: 15%;
}

.navbar {
    width: 60%;
    text-align: center;
    color: #025157;
    font-weight: 500;
}


.actions {
    width: 15%;
    text-align: right;
    font-size: 14px;
    font-weight: 600;
}

.actions>* {
    margin: 0 10px;
}

.actions a {
    color: #67b54b;
}

.main {
    margin-top: 285px;
    text-align: center;
}

.actions button {
    color: #ffffff;
    background-color: #67b54b;
    padding: 12px 14px;
    border: 0;
    border-radius: 5px;
}

.link {
    color: #67b54b;
}

article>h1 {
    color: #025157;
    text-align: left;
}

article>p {
    color: #343434;
}

.promo {
    display: flex;
    width: 70%;
    align-items: center;
    margin: 100px auto;
}

.publicidad {
    /* container styles if any */
    margin-left: 30px;
}

.publicidad h3 {
    font-family: "Alegreya", serif;
    font-size: 40px;
    line-height: 48px;
    color: #025157;
}

.publicidad>p {
    font-size: 16px;
    color: #343434;
    line-height: 1.5;
    margin-bottom: 20px;
}

.publicidad>form {
    display: flex;
}

.publicidad>form p {
    color: #025157;
    margin-right: 18px;
}

.video {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.video>img {
    width: 120px;
    margin-top: 10px;
}

iframe{
    display: flex;
    margin: auto;
}
.features{
    background-color: #025157;
    display: grid;
    height: 800px;
    grid-template: repeat(2, 1fr)/repeat(2, 1fr);
}
.features>article{
    margin: 20px;
    padding-left: 20px;
    padding-top: 20px;
    padding-bottom: 20px;
    background-color: #fff;
    border-radius: 20px;
}

.featuresContainer{
    display: grid;
    grid-template-columns: repeat(2, 1fr);
}

.greenLink{
    color: #67b54b;
}

.greenLink:link{
    text-decoration: none;
}
.greenLink:visited{
    text-decoration: none;
}
.greenLink:hover{
    text-decoration: none;
}
.greenLink:active{
    text-decoration: none;
}

.tinyImage{
    height: 100px;
}

.largeImage{
    height: 100%;
    float: right;
}